$tr:.4s;
$pink:#FAD230;
body{
    font-family:Montserrat;
}
ul{
    padding: 0 !important;
    margin: 0 !important;
}
p{
    margin: 0;
}
a{
    text-decoration: none !important;
}
@media (min-width:991.9px) {
    .container {
        padding: 0;
    }
}