<footer>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3">
                <div class="footer-logo">
                    <img src="/src/static/assets/logo.png" class="footer-logo-child" alt="">
                    <p class="footer-logo-white-p">
                        +880 253 356 263
                    </p>
                    <p class="footer-logo-gold-p">
                        burires@contact.com
                    </p>
                    <div class="social-icon">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-menu">
                    <p class="footer-menu-header-p">
                        Quick links
                    </p>
                    <div class="footer-menu-div">
                        <ul>
                            <li> <a href="">About </a></li>
                            <li> <a href="">Menu </a></li>
                            <li> <a href="">Reservation </a></li>
                            <li> <a href="">Blog </a></li>
                        </ul>
                        <ul>
                            <li> <a href="">Breakfast </a></li>
                            <li> <a href="">Lunch </a></li>
                            <li> <a href="">Dinner </a></li>
                        </ul>
                    </div>
                    .
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-address">
                    <p class="footer-address-header-p">
                        Subscribe newsletter
                    </p>
                    <form>
                        <input type="input" class="footer-address-input" placeholder="Email Address">
                        <button class="footer-addrees-input-a">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                    <p>
                        Subscribe newsletter to get all updates about discount and
                        offers.
                    </p>
                </div>
            </div>
        </div>
        <p class="footer-bottom-p">Copyright ©2019 All rights reserved | This template is made with ♡ by <a href="" class="footer-bottom-a">Nazrin</a></p>
    </div>
</footer>