<div id="header">
    <div class="container">
        <div class="header-mother">
            <div class="logo">
                <img src="/src/static/assets/logo.png" alt="">
            </div>
            <ul class="menu">
                <li>
                    <a href="" class="active">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="">
                        MENU
                    </a>
                </li>
                <li>
                    <a href="" class="d-flex align-items-center">
                        BLOG
                        <i class="fas fa-sort-down pb-1 pl-2"></i>
                    </a>
                    <ul class="drop_down_menu">
                        <li>
                            <a href="">
                                BLOG
                            </a>
                            <a href="">
                                SINGLE BLOG
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="d-flex align-items-center">
                        PAGES
                        <i class="fas fa-sort-down pb-1 pl-2"></i>
                    </a>

                    {{!-- d r o p d o w n   m e n u --}}
                    <ul class="drop_down_menu">
                        <li>
                            <a href="">
                                ELEMENTS
                            </a>
                        </li>
                    </ul>
                    {{!-- //d r o p d o w n   m e n u --}}

                </li>

                <li>
                    <a href="">
                        CONTACT
                    </a>
                </li>
            </ul>
            <div class="social-icon">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <button id="toggleMenuButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="toggle_menu">
                {{!-- <ul id="toggle_menu_ul">
                    <li><a href="" class="toggle_menu_a">HOME</a></li>
                    <li><a href="" class="toggle_menu_a">ABOUT</a></li>
                    <li><a href="" class="toggle_menu_a">MENU</a></li>
                    <li><a href="" class="toggle_menu_a">BLOG</a></li>
                    <li><a href="" class="toggle_menu_a">PAGES</a></li>
                    <li><a href="" class="toggle_menu_a_dd">Elements</a></li>
                    <li><a href="" class="toggle_menu_a">CONTACT</a></li>
                </ul> --}}
                <section id="accordion">

                    <ul class="accordion-menu">
                        <li>
                            <a href="">
                                ANA SƏHİFƏ
                            </a>
                        </li>
                        <li>
                            <div class="dropdownlink">
                                HAQQIMIZDA
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li>
                                    <a href="">
                                        Biz kimik?
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdownlink">
                                XİDMƏTLƏR
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li>
                                    <a href="">
                                        Konditsioner Sistemləri
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        İsitmə Sistemləri
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Havalandırma Sistemləri
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                LAYİHƏLƏR
                            </a>
                        </li>
                        <li>
                            <div class="dropdownlink">
                                BİZDƏN SİZƏ
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                            <ul class="submenuItems">
                                <li>
                                    <a href="">
                                        Sual Cavab
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Xəbərlər
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </section>
            </div>
        </div>
    </div>
</div>